<apex:page controller="CreateTieInOpportunity" showHeader="true" sidebar="true" tabStyle="Linked_Opportunity__c">
	<apex:sectionHeader title="Linked Opportunity Edit" subtitle="New Linked Opportunity"/>

	<apex:form >
		<apex:pageMessages />
		<apex:pageBlock title="Linked Opportunity Edit" mode="edit">
			<apex:pageBlockButtons >	
				<apex:commandButton value="Save" action="{!saveLinkedOpportunity}"/>
				<apex:commandButton value="Cancel" action="{!cancelButton}" immediate="true"/>
			</apex:pageBlockButtons>

			<apex:pageBlockSection title="Information" columns="2">
				<apex:inputField value="{!newLinkedOpportunity.Tie_In_Opportunity__c}" required="true"/>
				<apex:inputCheckbox value="{!newLinkedOpportunity.Primary__c}"/>
				<apex:inputField value="{!newLinkedOpportunity.Linked_Opportunity__c}" required="true"/>
				<apex:inputField value="{!newLinkedOpportunity.Percentage__c}"/>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
	
</apex:page>