<!--****************************************************************************************************************
Description: To populate CustomerCredit information on Account by consuming JSON string            
Created on:  16th September 2015
Created by:  Kavitha
Version 1:   Created VF page to populate Credit information using a Static JSON. Integration part is PENDING
********************************************************************************************************************-->

<apex:page standardController="Account" extensions="AcctCreditProfileExtn" sidebar="false" showHeader="false">
    <style type="text/css">
    .pbHeader{
        color: blue;
    }
    </style>
    <apex:form >
        <apex:pageBlock mode="MainDetail">
            <apex:pageMessages />
            <apex:pageBlockSection title="{!$Label.Account_Credit_Check_Results_Header}" columns="2">
                <apex:outputText label="{!$Label.Credit_Check_Required_Label}" value="{!If(profDetail.results[0].checkRequired, 'Yes','No')}" rendered="{!isRendable}"/>
                <apex:outputText label="{!$Label.Total_Available_Credit_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}">
                    <apex:param value="{!profDetail.results[0].totalAvailableCredit}"/>
                </apex:outputText>
                <apex:outputText label="{!$Label.On_Hold_Label}" value="{!If(profDetail.results[0].clientOnHold, 'Yes','No')}" rendered="{!isRendable}"/>
                <apex:outputText label="{!$Label.A_R_Past_Due_Balance_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!profDetail.results[0].overdueAmount}" />
                </apex:outputText>
                <apex:outputText label="{!$Label.Order_Limit_Label}" value="{!Account.CurrencyISOCode} {0, number, ###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!profDetail.results[0].accountLimit.orderLimit}"/>
                </apex:outputText>
                <apex:outputText label="{!$Label.A_R_Balance_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!profDetail.results[0].totalInvoiceOutstandingAmount}"/>
                </apex:outputText>
                <apex:outputText label="{!$Label.Overall_Limit_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!profDetail.results[0].accountLimit.overallLimit}"/>
                </apex:outputText>
                <apex:outputText label="{!$Label.Current_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!currentAmount}"/> 
                </apex:outputText>          
                <apex:outputText label="{!$Label.Pre_Pay_Only_Label}" value="{!If(profDetail.results[0].accountLimit.prePayOnly, 'Yes', 'No')}" rendered="{!isRendable}"/>   
                <apex:outputText label="{!$Label.X1_30_Days_Past_Due_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!firstPastDueAmount}"/>
                </apex:outputText>
                <apex:outputField value="{!acct.Collector_Name__c}" rendered="{!isRendable}"/>
                <apex:outputText label="{!$Label.X31_60_Days_Past_Due_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!secondPastDueAmount}"/>
                </apex:outputText>
                <apex:outputText value=""/>
                <apex:outputText label="{!$Label.X61_Days_Past_Due_Label}" value="{!Account.CurrencyISOCode} {0, number,###,###,##0.00}" rendered="{!isRendable}"> 
                    <apex:param value="{!thirdPastDueAmount}"/>
                </apex:outputText>
            </apex:pageBlockSection>

               
        </apex:pageBlock>

        <apex:outputLabel value="{!$Label.Customer_Profile_Note}"  style="color: red;font-weight:bold" rendered="{!isRendable}"/><br/><br/><center>
        <apex:outputLabel value="{!$Label.CustomerProfileNote2}"  style="color: red;font-weight:bold" rendered="{!isRendable}"/>
        <apex:outputLabel value="{!$Label.CustomerProfileNote3}"  style="color: red;font-weight:bold" rendered="{!!isRendable}"/></center>
        
        <p/>
    </apex:form>
</apex:page>