<apex:page controller="DoubleDipCommission" showHeader="true" sidebar="true" tabstyle="Opportunity">
<apex:sectionHeader title="{!$Label.Double_Dip_Custom_Page_Title_Header} {!currentOppty.Name}" />
	<apex:form >
        <apex:pageBlock >
            <apex:pageMessages id="errorMessage"/>
        	<apex:pageBlockButtons >
        		<apex:commandButton value="Submit" action="{!submitButton}"/>
            	<!-- <apex:commandButton value="Save & More" action="{!saveAndMore}"/> -->
            	<apex:commandButton value="Cancel" action="{!cancelButton}"/>
            </apex:pageBlockButtons>

            <apex:pageBlock >
            	<apex:pageBlockTable value="{!teamMembers}" var="doubleUsers" style="width: 50%">
                     <!-- <apex:column headerValue="Select">
                        This is our selected Boolean property in our wrapper class
                        <apex:inputCheckbox value="{!doubleUsers.selectedUser}"/>
                    </apex:column> -->

            		<apex:column headerValue="{!$Label.Double_Dip_Custom_Sales_Person_Header}">
            			<apex:outputField value="{!doubleUsers.salesTeamMember.User.Name}"/>
            		</apex:column>

                    <apex:column headerValue="{!$Label.Double_Dip_Custom_Team_Role_Header}">
                        <apex:outputField value="{!doubleUsers.salesTeamMember.TeamMemberRole}"/>
                    </apex:column>

                    <apex:column headerValue="{!$Label.Double_Dip_Custom_Commission_Header}">
                        <apex:inputText value="{!doubleUsers.dipCommission}"/>
                    </apex:column>
            	</apex:pageBlockTable>
            </apex:pageBlock>

        </apex:pageBlock>
    </apex:form>
</apex:page>