<apex:page >
    
 <!-- Sunil Taruvu
    
    * Date : 9/15/16
    * Commented the below code as a part of JIRA [PP-72] fix
    * As the "Change Hierarchy" button/functionaly is no more required in the current flow/scope, this Visualforce page and related controller/extension is commented,
    * the "Change Hierarchy" button is still availble for use but is removed from all the 3 account page layouts.
 
  -->  
  
    
<!--<apex:page standardController="Account" extensions="OverrideAccHierarchyCntrl"  >
  <apex:form >
      <apex:pagemessage summary="{!$Label.UpdateHierarchyPageInformation}" severity="info" strength="3"  >
      </apex:pagemessage>
      <apex:pagemessages />
      <apex:pageBlock title="Update Hierarchy" id="acctHierBlock">

          <apex:pageBlockSection columns="1">
              <apex:inputField value="{!acc.Division_Manager__c}"/>
              <apex:inputField value="{!acc.Division_Name__c}"/>
              <apex:outputField value="{!acc.Division_Territory_Id__c}"/>
              
              <apex:inputField value="{!acc.Region_Manager__c}"/>
              <apex:inputField value="{!acc.Region_Name_Frozen__c}"/>
              <apex:outputField value="{!acc.Region_Territory_Id__c}"/>
              
              <apex:inputField value="{!acc.Team_Manager__c}"/>
              <apex:inputField value="{!acc.Team_Name__c}"/>
              <apex:outputField value="{!acc.Team_Territory_Id__c}"/>
              
              <apex:inputField value="{!acc.Primary_Sales_Rep__c}"/>
              <apex:inputField value="{!acc.Primary_Reps_Territory__c}"/>
              <apex:outputField value="{!acc.Primary_Rep_Territory_Id__c}"/>
              
              <apex:inputField value="{!acc.Account_Sales_Office_Text__c}"/>
               <apex:inputField value="{!acc.Frozen_Hierarchy__c}"/>
              
          </apex:pageBlockSection>
          <apex:pageBlockButtons >
              <apex:commandButton action="{!Save}" value="Save"/>
              <apex:commandButton action="{!Cancel}" value="Cancel"/>
          </apex:pageBlockButtons>
      
      </apex:pageBlock>
  
  </apex:form>
</apex:page>-->

</apex:page>